@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600&display=swap');

.wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #edf2f8;
}

.button_back {
	display: flex;
	align-items: center;
	width: 70px;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	margin-bottom: 48px;
	color: #344050;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

.content {
	width: 1200px;
}

.item {
	height: 754px;
	width: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 40px;
}

.logo {
	/* width: 200px; */
	height: 80px;
	margin-right: 80px;

	img {
		/* width: 100%; */
		height: 100%;
	}
}

.discount {
	display: flex;
	justify-content: start;
	align-items: center;
	margin: 0px 0px 41px 80px;
	padding-left: 7px;
	font-size: 22px;
	font-weight: 600;
	line-height: 26px;
	color: #fff;
	background-color: #f63a3a;
	border-radius: 10px 2px 2px 10px;
	width: 100px;
	height: 36px;
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.body {
	display: flex;
	align-items: center;
	flex: 1 0 auto;
	/* width: 100%; */
	margin-left: 90px;
	margin-right: 80px;
}

.img {
	width: 415px;
	height: 415px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 76px;

	img {
		width: 100%;
		height: 100%;
	}
}

.item__name {
	font-size: 38px;
	font-weight: 600;
	line-height: 45px;
	color: #344050;
	margin-bottom: 50px;
	width: 539px;
}

.info {
	display: flex;
	flex-direction: column;
}

.stars {
	margin-left: auto;
	font-size: 25px;
	font-weight: 900;
	line-height: 26px;
	margin-bottom: 20px;
}

.prices {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.old_price {
	color: #94979c;
	font-weight: 600;
	line-height: 1;
	position: relative;

	.price {
		font-size: 33px;
		margin-bottom: 5px;
		position: relative;
		display: flex;
	}

	.int {
		display: inline-block;
		font-size: 33px;
	}

	.float {
		display: inline-block;
		font-size: 18px;
		line-height: 1.25;
		margin-left: 2px;
	}

	.value {
		margin-left: 10px;
	}

	.line {
		top: calc(50% - 2px);
		left: -5px;
		position: absolute;
		width: calc(100% + 10px);
		height: 4px;
		background-color: red;
	}

	.text {
		position: absolute;
		width: 150px;
		text-transform: uppercase;
		margin-top: 3px;
		font-size: 19px;
		font-weight: 600;
		color: #6f7885;
	}
}

.new_price {
	display: flex;
	flex-direction: column;
	color: #344050;
	font-weight: 600;
	line-height: 1;

	.price {
		font-size: 52px;
		margin-bottom: 5px;
		display: flex;
	}

	.int {
		display: inline-block;
		font-size: 52px;
	}

	.float {
		display: inline-block;
		font-size: 29px;
		line-height: 1.25;
		margin-left: 1px;
	}

	.value {
		margin-left: 10px;
	}

	.text {
		font-size: 19px;
		font-weight: 600;
		line-height: 26px;
		text-transform: uppercase;
		text-align: center;
		color: #6f7885;
	}
}

.footer {
	height: 118px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d9d9d938;
	flex: 0 0 auto;

	&__text {
		font-size: 22px;
		font-weight: 600;
		line-height: 23px;
		color: #6f7885;
	}
}
