.sort {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 750px;

	&__text {
		font-size: 16px;
		font-weight: 500;
		line-height: 1;
		color: var(--color);
	}

	&__button {
		cursor: pointer;
		display: flex;
		align-items: flex-end;
		transition: all 0.3s ease;
		color: #2a7be4;

		&:hover {
			text-decoration: underline;
			transform: scale(1.02);
		}

		&__text {
			font-size: 16px;
			font-weight: 500;
			line-height: 1;

			&.active {
				color: var(--color);
				text-decoration: underline;
			}
		}
	}

	&__type {
		font-size: 20px;
		font-weight: 900;
		margin-left: 5px;
		color: var(--color);
	}
}
